<div class="tender-shipment">
  <dx-data-grid
    class="tenderSku gridContainer"
    [dataSource]="tenderSku"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [showBorders]="true"
    [errorRowEnabled]="false"
    keyExpr="Id"
    (onSelectionChanged)="onSelectionChanged($event)">

    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-scrolling columnRenderingMode="virtual" mode="infinite"></dxo-scrolling>
    <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
    <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="tenderCase"></dxo-state-storing>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="TenderId"
                caption="Tender ID">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="BrandName"
                caption="Brand">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="SKUNameEng"
                caption="SKU name Eng">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="TenderVolume"
                caption="Tender Volume (packs)">
    </dxi-column>
  </dx-data-grid>

<!-- ********************************** -->

  <div class="toolbar">
    <div>
      <div class="dx-field item">
        <div class="dx-field-label">Period start</div>
        <div class="dx-field-value">
          <dx-date-box
            [(ngModel)]="period.PeriodStart"
            displayFormat="dd.MM.yyyy"
            type="date">
          </dx-date-box>
        </div>
      </div>
      <div class="dx-field item">
        <div class="dx-field-label">Period end</div>
        <div class="dx-field-value">
          <dx-date-box
            [(ngModel)]="period.PeriodEnd"
            displayFormat="dd.MM.yyyy"
            type="date">
          </dx-date-box>
          <dx-button
            class="btn"
            icon="save"
            stylingMode="contained"
            type="success"
            [disabled]="!period.PeriodStart || !period.PeriodEnd"
            (click)="setPeriod()">
          </dx-button>
        </div>
      </div>
    </div>
    <div class="dx-field item period-for-planned">
      <div class="dx-field-label">Period for Planned</div>
      <div class="dx-field-value">
        <dx-date-box
          [(ngModel)]="periodPlan"
          displayFormat="dd.MM.yyyy"
          type="date">
        </dx-date-box>
        <dx-button
          class="btn"
          icon="save"
          stylingMode="contained"
          type="success"
          [disabled]="!periodPlan"
          (click)="setPeriodPlan()">
        </dx-button>
      </div>
    </div>
    <div class="item text-right">
      <dx-button
        class="save-btn"
        stylingMode="contained"
        text="Save Version"
        type="default"
        [disabled]="!tenderSkuId"
        (click)="onCreateNewVersion()">
      </dx-button>
    </div>
  </div>

<!--***********************************-->
  <dx-data-grid
    class="gridContainer tenderSkuPlan"
    #tenderSkuPlanGrid
    [dataSource]="tenderSkuPlan"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [errorRowEnabled]="false"
    [showBorders]="true"
    (onCellClick)="onCellClick($event)">

    <dxo-editing mode="cell" [allowUpdating]="true"></dxo-editing>
    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-scrolling columnRenderingMode="virtual" mode="infinite"></dxo-scrolling>
    <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
    <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="tenderCase"></dxo-state-storing>

    <dxi-column [allowEditing]="false"
                alignment="center"
                cssClass="text-center"
                dataField="Period"
                caption="Period">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                alignment="center"
                cssClass="text-center"
                dataField="Planned"
                caption="Planned">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                alignment="center"
                cssClass="text-center"
                dataField="Announced"
                caption="Announced">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                alignment="center"
                cssClass="text-center"
                dataField="Alive"
                dataType="number"
                caption="Alive">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                allowEditing="true"
                alignment="center"
                cssClass="text-center"
                dataField="Actual"
                caption="Actual">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                alignment="center"
                cssClass="text-center"
                dataField="PlannedUSD"
                caption="Planned (USD)">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                alignment="center"
                cssClass="text-center"
                dataField="AnnouncedUSD"
                caption="Announced (USD)">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                alignment="center"
                cssClass="text-center"
                dataField="AliveUSD"
                dataType="number"
                caption="Alive (USD)">
    </dxi-column>

    <dxi-column [allowEditing]="false"
                allowEditing="true"
                alignment="center"
                cssClass="text-center"
                dataField="ActualUSD"
                caption="Actual (USD)">
    </dxi-column>


    <dxo-summary>
      <dxi-total-item
        column="Period"
        displayFormat="Total amount for a period">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="Planned"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="Announced"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="Alive"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="Actual"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="PlannedUSD"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="AnnouncedUSD"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="AliveUSD"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        alignment="center"
        cssClass="text-center"
        column="ActualUSD"
        summaryType="sum">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>

  <!-- ********************************* -->

  <div class="dx-field TenderPlanVersion">
    <div class="dx-field-label">Version</div>
    <div class="dx-field-value">
      <dx-select-box [items]="tenderPlanVersion$ | async"
                     valueExpr="Id"
                     displayExpr="VersionName"
                     placeholder="Select..."
                     (onValueChanged)="onTenderPlanVersion($event)">
      </dx-select-box>
    </div>
  </div>

  <dx-data-grid
    class="gridContainer"
    [dataSource]="tenderSKUPlanArchive"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    [errorRowEnabled]="false"
    [showBorders]="true">

    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-scrolling columnRenderingMode="virtual" mode="infinite"></dxo-scrolling>
    <dxo-search-panel [visible]="true" placeholder="Search..."></dxo-search-panel>
    <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="tenderCase"></dxo-state-storing>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="Period"
                caption="Period">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="Planned"
                caption="Planned">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="Announced"
                caption="Announced">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="Alive"
                caption="Alive">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="Actual"
                caption="Actual">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="PlannedUSD"
                caption="Planned (USD)">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="AnnouncedUSD"
                caption="Announced (USD)">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="AliveUSD"
                caption="Alive (USD)">
    </dxi-column>

    <dxi-column alignment="center"
                cssClass="text-center"
                dataField="ActualUSD"
                caption="Actual (USD)">
    </dxi-column>


    <dxo-summary>
      <dxi-total-item
        column="Period"
        displayFormat="Total amount for a period">
      </dxi-total-item>

      <dxi-total-item
        column="Planned"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        column="Announced"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        column="Alive"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        column="Actual"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        column="PlannedUSD"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        column="AnnouncedUSD"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        column="AliveUSD"
        summaryType="sum">
      </dxi-total-item>

      <dxi-total-item
        column="ActualUSD"
        summaryType="sum">
      </dxi-total-item>
    </dxo-summary>
  </dx-data-grid>
</div>
