.approval-history {
  display: flex;
  padding: 10px 10px 0;

  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .history-left {
    flex: 2;
    width: 70%;
    display: flex;
    flex-direction: column;
    .attachments {
      margin-bottom: 20px;
      background-color: #fff;

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
      }
    }
    
    .change-history {
      background-color: #fff;
      padding-top: 5px;

      .title {
        margin-left: 15px;
      }
    }
  }

  .history-right {
    flex: 1;
    margin-left: 10px;
    padding: 0 10px;
    .comments{
      margin-bottom: 12px;
    }
  }


  .requestorComment {
    margin-bottom: 20px;
  }
}

.approval-history-buttons {
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;

  .download-button {
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {
  .approval-history {
    flex-direction: column;
    .history-left {
      width: 100%;
    }
    .history-right {
      margin: 20px 0 0;
      padding-bottom: 20px;
    }
  }
}

.approval-history ::ng-deep  {
  .dx-first-col.dx-last-col.dx-field-item.dx-col-0.dx-field-item-optional.dx-flex-layout.dx-label-v-align {
    width: 100%;
    flex-direction: column;
  }

  label.dx-field-item-label.dx-field-item-label-location-top {
    width: auto;
    justify-content: flex-start;
  }

  .dx-fileuploader-container {
    width: auto;
  }

  .dx-fileuploader-input-container {
    width: 120px;
  }

  .dx-fileuploader-show-file-list .dx-fileuploader-files-container {
    display: none;
  }

  .dx-field-item-content.dx-field-item-content-location-bottom {
    width: 100%;
  }
}
