<div class="buttons dx-card" *ngIf="!id || tenderCase">
  <dx-button
    *ngIf="tabIndex === 0"
    [disabled]="!(canUpdate$ | async)?.value"
    (onClick)="save(actions.save)"
    text="Save Case" type="default">
  </dx-button>

  <dx-button
    [disabled]="tenderCase?.TenderCaseStatusId === tenderCaseStatus.draft"
    (onClick)="save(actions.approversRequests)"
    text="Approver's requests">
  </dx-button>

  <dx-button
    *ngIf="(canApprove$ | async)?.value"
    (onClick)="save(actions.approve)"
    text="Approve">
  </dx-button>

  <dx-button
    [disabled]="!(canReject$ | async)?.value"
    (onClick)="save(actions.reject)"
    text="Reject" type="danger">
  </dx-button>

  <dx-button
    [disabled]="tenderCase?.TenderCaseStatusId !== tenderCaseStatus.reject"
    (onClick)="save(actions.draft)"
    text="Draft">
  </dx-button>
</div>
