<div class="buttons dx-card" *ngIf="!id || tenderCase">
  <dx-button
    *ngIf="tabIndex === 0"
    [disabled]="(!(canSave | async)?.value) && tenderCase?.TenderCaseStatusId !== 7 && tenderCase?.TenderCaseStatusId !== 8 && tenderCase?.TenderCaseStatusId !== 10"
    (onClick)="save(actions.save)"
    text="{{id === 'new' ? 'Create' : 'Save'}} Case" type="default">
  </dx-button>

  <dx-button
    *ngIf="tenderCase?.TenderCaseStatusId === tenderCaseStatus.draft"
    (onClick)="save(actions.approversRequests)"
    text="Approver's requests">
  </dx-button>

  <dx-button
    *ngIf="(canApprove$ | async)?.value"
    (onClick)="save(actions.approve)"
    text="Approve">
  </dx-button>

  <dx-button
    [disabled]="!(canReject$ | async)?.value"
    (onClick)="save(actions.reject)"
    text="Reject" type="danger">
  </dx-button>

  <dx-button
    [disabled]="tenderCase?.TenderCaseStatusId !== tenderCaseStatus.reject"
    (onClick)="save(actions.draft)"
    text="Draft">
  </dx-button>

  <dx-button
    [disabled]="(canCreateRelatedCase$ | async)?.value"
    (onClick)="save(actions.relatedCase)"
    text="Create related case">
  </dx-button>

  <dx-button
    (onClick)="save(actions.copy)"
    type="default"
    text="Copy">
  </dx-button>
</div>
