::ng-deep .content{
  text-align: justify;
}
::ng-deep #longtabs{
  margin-top: 20px;
}
::ng-deep #scrolledtabs {
  margin-top: 20px;
}
::ng-deep #tabs {
  margin-top: 60px;
}
::ng-deep .caption{
  font-size: 16px;
  padding-bottom: 3px;
  padding-left: 10px;
}
::ng-deep .left-aligned {
  text-align: left;
}


::ng-deep .first-group,
::ng-deep .second-group {
  padding: 20px;
}

::ng-deep .second-group {
  background-color: rgba(191, 191, 191, 0.15);
}
