<div id="tabs">
  <dx-tabs
    #apiTabs
    [dataSource]="tabs"
    [selectedIndex]="tabIndex"
    (onItemClick)="selectTab($event)"
  ></dx-tabs>

  <app-case-description (saveCase)="saveCase($event)"
                        [selectBoxes]="selectBoxes"
                        *ngIf="tabIndex === 0"
                        [tenderCase]="tenderCase | async"></app-case-description>

  <app-case-history
    *ngIf="tabIndex === 2"
    [tenderCase]="tenderCase | async">
  </app-case-history>
  <app-case-sku *ngIf="tabIndex === 1"></app-case-sku>
</div>
