<div id="tabs">
  <dx-tabs
    #apiTabs
    [dataSource]="tabs"
    [selectedIndex]="tabIndex"
    (onItemClick)="selectTab($event)">
  </dx-tabs>

  <app-case-description
    *ngIf="tabIndex === 0"
    [selectBoxes]="selectBoxes"
    [tenderCase]="tenderCase | async">
  </app-case-description>

  <app-case-sku
    *ngIf="tabIndex === 1"
    [tenderCase]="tenderCase | async">
  </app-case-sku>

  <app-case-history
    *ngIf="tabIndex === 2"
    [tenderCase]="tenderCase | async">
  </app-case-history>

  <app-case-buttons
    [selectBoxes]="selectBoxes"
    [tenderCase]="tenderCase | async"
    [tabIndex]="tabIndex"
    (saveCase)="saveCase($event)">
  </app-case-buttons>
</div>
