<dx-form class="tender-description" *ngIf="(isNewTender || tender) " id="form"
         (onInitialized)="onInitialized()"
         (onFieldDataChanged)="onFieldDataChanged($event)"
         [formData]="tender">
  <dxi-item [disabled]="true" [label]="{text: 'Tender ID internal'}" dataField="Id"></dxi-item>
  <dxi-item [disabled]="true" [label]="{text: 'Create date'}" dataField="CreatedOn"></dxi-item>
  <dxi-item [disabled]="true" [label]="{text: 'TAM'}" dataField="TAMName"></dxi-item>
  <dxi-item [label]="{text: 'Federal district'}"
            dataField="FederalDistrictId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: federalDistrict?.value, displayExpr:'Name', valueExpr:'Id' }"
  ></dxi-item>
  <dxi-item [label]="{text: 'Region'}"
            dataField="RegionId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: federalSubject?.value, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'INN'}"
            dataField="HospitalId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: hospitals, displayExpr:'INN', valueExpr:'Id'}"></dxi-item>
  <dxi-item [label]="{text: 'Client name'}"
            dataField="HospitalId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: clientName, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item [label]="{text: 'Legal Entity Type'}"
            dataField="LegalEntityTypeId"
            [disabled]="true"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: legalEntityType?.store(), displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Channel of financing'}"
            dataField="SourceOfFinId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: sourceOfFinancing, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Federal law'}"
            dataField="FederalLawId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: federalLaw?.value, displayExpr:'FederalLawNumber', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Tender Status'}"
            dataField="TenderStatusId"
            [disabled]="true"
            editorType="dxSelectBox"
            [editorOptions]="{ items: tenderStatus?.value, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item [disabled]="true"
            [label]="{text: 'Change of tender status, date'}"
            dataField="StatusChangedOn"></dxi-item>

  <dxi-item [label]="{text: 'Tender Status Comment'}"
            dataField="TenderStatusCommentId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: tenderStatusComment?.value, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item [label]="{text: 'Notification ID'}" dataField="NotificationNumber"></dxi-item>
  <dxi-item [label]="{text: 'Link to gos zakupki web-site'}" dataField="GosZakupkiLink"></dxi-item>

  <dxi-item [label]="{text: 'Date of tender'}" editorType="dxDateBox" dataField="DateOfTender"></dxi-item>
  <dxi-item [label]="{text: 'Winner (partner) of the tender'}"
            dataField="TenderWinnerId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: tenderWinner, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Indication'}"
            dataField="IndicationId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: indication?.value, displayExpr:'Name', valueExpr:'Id' }">
  </dxi-item>
  <dxi-item [label]="{text: 'Supplier of the tender'}"
            dataField="SupplierId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: distributor?.value, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Deadline for supply'}" dataField="DeadlineForSupply"></dxi-item>
  <dxi-item type="boolean" [disabled]="true" [label]="{text: 'Artificial'}" dataField="Artificial"></dxi-item>


  <dxi-item *ngIf="contractStatus" [label]="{text: 'Contract status'}"
            dataField="ContractStatusId"
            editorType="dxSelectBox"
            [editorOptions]="{ items: contractStatus?.value, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item *ngIf="contractStatusComment" [label]="{text: 'Contract status comment'}"
            dataField="ContractStatusCommentId"
            [disabled]="tender?.ContractStatusId === 1"
            editorType="dxSelectBox"
            [editorOptions]="{ items: contractStatusComment.value, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
</dx-form>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="showLoadPanel"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>

<app-tender-buttons [disableCreate]="disableCreate" [tender]="tender" (saveTender)="saveTender($event)" *ngIf="(isNewTender || tender)" [tabIndex]="0"></app-tender-buttons>
