<dx-form class="tender-description" *ngIf="(isNewTender || tender)" id="form"
         (onInitialized)="onInitialized()"
         [disabled]="tender.TenderStatusId === 4 || (!isNewTender && !(canUpdate$ | async)?.value)"
         [formData]="tender">
  <dxi-item [disabled]="true" [label]="{text: 'Tender ID internal'}" dataField="Id"></dxi-item>
  <dxi-item [disabled]="true" [label]="{text: 'Create date'}" dataField="CreatedOn"></dxi-item>
  <dxi-item [disabled]="true" [label]="{text: 'TAM'}" dataField="TAMName"></dxi-item>
  <dxi-item [label]="{text: 'Federal district'}"
            dataField="FederalDistrictId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: fdDataSource, onValueChanged: fdChanged, displayExpr:'Name', valueExpr:'Id' }"
  ></dxi-item>
  <dxi-item [label]="{text: 'Region'}"
            dataField="RegionId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: regionDataSource, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'INN'}"
            dataField="HospitalId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: hospitals, searchEnabled: true, onValueChanged: onInnChanged, displayExpr:'INN', valueExpr:'Id'}"></dxi-item>
  <dxi-item [label]="{text: 'Client name'}"
            dataField="ClientId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: clientName, onValueChanged: onClientChanged, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item [label]="{text: 'Legal Entity Type'}"
            dataField="LegalEntityTypeId"
            [disabled]="true"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: legalEntityType, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Channel of financing'}"
            dataField="SourceOfFinId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: sourceOfFinancing, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Federal law'}"
            dataField="FederalLawId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: federalLaw, displayExpr:'FederalLawNumber', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Tender Status'}"
            dataField="TenderStatusId"
            [disabled]="true"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: tenderStatus, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item [disabled]="true"
            [label]="{text: 'Change of tender status, date'}"
            dataField="StatusChangedOn"></dxi-item>

  <dxi-item [label]="{text: 'Tender Status Comment'}"
            [disabled]="true"
            dataField="TenderStatusCommentId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: tenderStatusComment, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item [label]="{text: 'Notification ID'}" dataField="NotificationNumber"></dxi-item>
  <dxi-item [label]="{text: 'Link to gos zakupki web-site'}" dataField="GosZakupkiLink"></dxi-item>

  <dxi-item [label]="{text: 'Date of tender'}" editorType="dxDateBox" dataField="DateOfTender"></dxi-item>
  <dxi-item [label]="{text: 'Winner (partner) of the tender'}"
            dataField="TenderWinnerId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: tenderWinner, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Indication'}"
            dataField="IndicationId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: indication, displayExpr:'Name', valueExpr:'Id' }">
  </dxi-item>
  <dxi-item [label]="{text: 'Supplier of the tender'}"
            dataField="SupplierId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: distributor, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>

  <dxi-item [label]="{text: 'Deadline for supply'}" dataField="DeadlineForSupply"></dxi-item>
  <dxi-item type="boolean" [disabled]="true" [label]="{text: 'Artificial'}" dataField="Artificial"></dxi-item>
  <!--<dxi-item type="boolean" [disabled]="true" [label]="{text: 'CPStatus'}" dataField="CPStatus"></dxi-item>-->
  <!--<dxi-item type="boolean" [disabled]="true" [label]="{text: 'DupStatus'}" dataField="DupStatus"></dxi-item>-->


  <dxi-item *ngIf="contractStatus" [label]="{text: 'Contract status'}"
            dataField="ContractStatusId"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: contractStatus, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
  <dxi-item *ngIf="contractStatusComment" [label]="{text: 'Contract status comment'}"
            dataField="ContractStatusCommentId"
            [disabled]="tender?.ContractStatusId === 1"
            editorType="dxSelectBox"
            [editorOptions]="{ dataSource: contractStatusComment, displayExpr:'Name', valueExpr:'Id' }"></dxi-item>
</dx-form>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="showLoadPanel"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>

<app-tender-buttons
  [disableCreate]="disableCreate"
  [tender]="tender"
  (saveTender)="saveTender($event)"
  *ngIf="(isNewTender || tender)"
  [tabIndex]="0">
</app-tender-buttons>

<app-popup *ngIf="showPopup">
  <div class="popup-title">
    Please, choose the reason for declining
  </div>
  <dx-select-box
    [dataSource]="tenderStatusComment"
    [displayExpr]="'Name'"
    [valueExpr]="'Id'"
    (onValueChanged)="onPopUpValueChanged($event)"
    placeholder="Reason for declining...">
  </dx-select-box>

  <div class="buttons">
    <dx-button
      text="Ok"
      type="danger"
      [disabled]="!popUpValue"
      (onClick)="onOk()">
    </dx-button>
    <dx-button
      text="Cancel"
      type="danger"
      (onClick)="showPopup = false">
    </dx-button>
  </div>
</app-popup>

<dx-popup
  class="popup"
  title="Please, Select fields to copy"
  [width]="450"
  [showTitle]="true"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="copyPopup">

  <dx-scroll-view>
    <div class="dx-fieldset copy-fieldset">
      <div class="dx-field copy-field">
        <div class="dx-field-label">Channel of financing</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.SourceOfFinId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Federal law</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.FederalLawId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Notification ID</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.NotificationNumber"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Link to gos zakupki web-site</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.GosZakupkiLink"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Date of tender</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.DateOfTender"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Winner (partner) of the tender</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.TenderWinnerId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Indication</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.IndicationId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Deadline for supply</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.DeadlineForSupply"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Contract status</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.ContractStatusId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Contract status comment</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderFields.ContractStatusCommentId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Tender starting price (per pack, RUB)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderSKUFields.StartingPrice"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Risk</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderSKUFields.RiskId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Tender Volume (packs)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderSKUFields.TenderVolume"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Won contract price (per pack in RUB)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderSKUFields.WonContractPriceRUB"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Contract price (RUB) per pack</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderSKUFields.ContractPriceRUB"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Contract quantity (packs)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="tenderSKUFields.ContractQuantity"></dx-check-box>
        </div>
      </div>
    </div>

    <div class="dx-popup-footer">
      <dx-button
        text="OK"
        type="success"
        (click)="onClosePopup(true)">
      </dx-button>

      <dx-button text="cancel" type="danger" (click)="onClosePopup(false)"></dx-button>
    </div>
  </dx-scroll-view>

</dx-popup>
