<div class="content-block">
  <div class="dx-card">
    <h4 class="m-0">Tenders</h4>
    <dx-data-grid
      id="gridContainer"
      class="mb-3"
      [dataSource]="dataSource"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      [showBorders]="true"
      [selectedRowKeys]="[]"
      [columnAutoWidth]="true"
      (onContentReady)="onContentReady()"
      (onToolbarPreparing)="onToolbarPreparing($event)"
      (onInitNewRow)="onInitNewRow()"
      (onRowDblClick)="onRowDblClick($event)"
      (onSelectionChanged)="onSelectionChanged($event)">
      <dxo-selection mode="single"></dxo-selection>

      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-scrolling columnRenderingMode="virtual" mode="infinite"></dxo-scrolling>
      <dxo-editing
        mode="row"
        [allowAdding]="(canCreate$ | async)?.value">
      </dxo-editing>
      <dxo-export [enabled]="true" fileName="Tenders" [allowExportSelectedData]="true"></dxo-export>
      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter
        [visible]="showHeaderFilter"></dxo-header-filter>
      <dxo-search-panel
        [visible]="true"
        placeholder="Search..."></dxo-search-panel>
      <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="tenders"></dxo-state-storing>
      <dxi-column

        dataField="Id"
        caption="Id">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="CreatedOn"
        caption="Create Date">
      </dxi-column>
      <dxi-column
        dataField="TAMName"
        caption="TAM">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="FederalDistrictName"
        caption="Federal District">
      </dxi-column>
      <dxi-column

        dataField="RegionName"
        caption="RegionName">
      </dxi-column>
      <dxi-column

        dataField="HospitalINN"
        caption="Hospital INN">
      </dxi-column>
      <dxi-column
        dataField="HospitalName"
        caption="Client name">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="LegalEntityTypeName"
        caption="Legal Entity Type">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="SourceOfFinName"
        caption="Channel of Financing">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="FederalLawNumber"
        caption="Federal law (#)">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="StatusChangedOn"
        caption="Status Change Date">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="TenderStatusCommentName"
        caption="Tender Status Comment">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="NotificationNumber"
        caption="Notification ID">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="Artificial"
        caption="Artificial">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="DeadlineForSupply"
        caption="Deadline for Supply">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="ContractStatusName"
        caption="Contract Status">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="ContractStatusCommentName"
        caption="Contract Status Comment">
      </dxi-column>
      <dxi-column
        dataField="TenderStatusName">
      </dxi-column>
      <dxi-column

        dataField="GosZakupkiLink">
      </dxi-column>
      <dxi-column

        dataField="DateOfTender">
      </dxi-column>
      <dxi-column
        caption="Winner"
        dataField="TenderWinnerName">
      </dxi-column>
      <dxi-column

        dataField="IndicationName">
      </dxi-column>
      <dxi-column

        dataField="SupplierName">
      </dxi-column>
    </dx-data-grid>
    <dx-data-grid
      id="gridContainer2"
      [dataSource]="dataSourceSKU"
      [columnAutoWidth]="true"
      [showBorders]="true"
      (onContentReady)="initialized()">
      <dxo-scrolling columnRenderingMode="virtual" mode="infinite"></dxo-scrolling>
      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter
        [visible]="showHeaderFilter"></dxo-header-filter>
      <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="tendersSku"></dxo-state-storing>
      <dxi-column

        dataField="Id"
        caption="TenderSKU ID"

        alignment="center">
        <dxo-header-filter
          [groupInterval]="10000"></dxo-header-filter>
      </dxi-column>
      <dxi-column

        dataField="BrandName"
        caption="Brand"

        alignment="center">
        <dxo-header-filter
          [dataSource]="orderHeaderFilter"></dxo-header-filter>
      </dxi-column>
      <dxi-column
        dataField="SKUNameEng"
        caption="SKU Name"
        alignment="center"></dxi-column>
      <dxi-column dataField="ProductId" caption="SKU mars" alignment="center"></dxi-column>
      <dxi-column
        dataField="TenderVolume"
        caption="Tender Volume (packs)"

        alignment="center"></dxi-column>
      <dxi-column

        dataField="TenderValueUSD"
        caption="Tender Value (USD)"

        alignment="center"></dxi-column>
      <dxi-column

        dataField="ForecastedValueUSD"
        caption="Forecasted Tender Value (USD)"

        alignment="center"></dxi-column>
      <dxi-column

        dataField="DiffStartAndEDL"
        caption="Diff Tender Starting price and EDL price, %"

        alignment="center"></dxi-column>
      <dxi-column

        dataField="DiffStartAndReference"
        caption="Diff Tender Starting price and Reference price, %"

        alignment="center"></dxi-column>
    </dx-data-grid>
  </div>
</div>
