<div class="dx-card case-desc">
  <dx-form *ngIf="!id && selectBoxes || tenderCase && selectBoxes"
           id="form"
           (onInitialized)="onInitialized()"
           [disabled]="id && tenderCase?.TenderCaseStatusId !== tenderCaseStatus.draft"
           [formData]="tenderCase">
    <dxi-item [disabled]="!!id" [label]="{text: 'Case ID'}" dataField="Id"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Parent ID'}" dataField="ParentId"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Child ID'}" dataField="ChildId"></dxi-item>
    <dxi-item [label]="{text: 'Related case comment'}" dataField="RelatedCaseCommentId"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Tender ID'}" dataField="TenderId"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Region'}" dataField="RegionName"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Client name'}" dataField="HospitalName"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'TAM'}" dataField="TAMName"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Channel of financing'}" dataField="SourceOfFinName"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Federal law'}" dataField="FederalLawNumber"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Notification ID '}" dataField="NotificationNumber"></dxi-item>
    <dxi-item [label]="{text: 'Supplier of the tender'}"
              editorType="dxSelectBox"
              [editorOptions]="{ items: selectBoxes.distributor.value, displayExpr:'Name', valueExpr:'Id' }"
              dataField="SupplierId"></dxi-item>
    <dxi-item [label]="{text: 'Discount SAP number'}" dataField="DiscountNumber"></dxi-item>
    <dxi-item [label]="{text: 'Discount validity date'}" editorType="dxDateBox"
              dataField="DiscountValidityDate"></dxi-item>
    <dxi-item [label]="{text: 'Sales channel in SAP'}"
              editorType="dxSelectBox"
              [editorOptions]="{ items: selectBoxes?.channel?.value, displayExpr:'Name', valueExpr:'Id' }"
              dataField="SalesChannelId"></dxi-item>
    <dxi-item [disabled]="!!id" [label]="{text: 'Weighted average contract price (RUB)'}"
              dataField="WeightedAveConractPriceRUB"></dxi-item>
    <dxi-item editorType="dxCheckBox" [label]="{text: 'Discount Provided'}" dataField="DiscountProvided"></dxi-item>
  </dx-form>
</div>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="showLoadPanel"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>

<app-case-buttons
  [tenderCase]="tenderCase"
  [tabIndex]="0"
  (saveCase)="save($event)">
</app-case-buttons>
