<div class="dx-card case-desc">
  <dx-form *ngIf="isNewCase || tenderCase"
           id="form" (onInitialized)="onInitialized()"
           [formData]="tenderCase">
    <dxi-item [disabled]="true" [label]="{text: 'Case ID'}" dataField="Id"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'Parent ID'}" dataField="ParentId"></dxi-item>


    <dxi-item [disabled]="true" [label]="{text: 'Child ID'}" dataField="ChildId"></dxi-item>
    
    <dxi-item [label]="{text: 'Related case comment'}"
              editorType="dxSelectBox"
              [disabled]="!isNewCase && tenderCase?.TenderCaseStatusId !== tenderCaseStatus.draft"
              [editorOptions]="{ dataSource: relatedCaseComment, displayExpr:'Name', valueExpr:'Id' }"
              dataField="RelatedCaseCommentId"></dxi-item>

    <dxi-item [disabled]="true" [editorOptions]="{ value: tenderId }" [label]="{text: 'Tender ID'}" dataField="TenderId"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'Case Status'}" dataField="TenderCaseStatusName"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'Region'}" dataField="RegionName"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'Client name'}" dataField="HospitalName"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'TAM'}" dataField="TAMName"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'Channel of financing'}" dataField="SourceOfFinName"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'Federal law'}" dataField="FederalLawNumber"></dxi-item>
    <dxi-item [disabled]="true" [label]="{text: 'Notification ID '}" dataField="NotificationNumber"></dxi-item>

    <dxi-item [label]="{text: 'Supplier of the tender'}"
              editorType="dxSelectBox"
              [disabled]="!isNewCase && tenderCase?.TenderCaseStatusId !== tenderCaseStatus.draft && tenderCase?.TenderCaseStatusId !== 7 || id === 'new'"
              [editorOptions]="{ dataSource: distributor, displayExpr:'Name', valueExpr:'Id' }"
              dataField="SupplierId"></dxi-item>

    <dxi-item [label]="{text: 'Discount SAP number'}"
              [disabled]="!isNewCase && tenderCase?.TenderCaseStatusId !== tenderCaseStatus.draft && tenderCase?.TenderCaseStatusId !== 8"
              dataField="DiscountNumber"></dxi-item>
    <dxi-item [label]="{text: 'Discount validity date'}" editorType="dxDateBox"
              [disabled]="!isNewCase && tenderCase?.TenderCaseStatusId !== tenderCaseStatus.draft && tenderCase?.TenderCaseStatusId !== 8"
              dataField="DiscountValidityDate"></dxi-item>
    <dxi-item [label]="{text: 'Sales channel in SAP'}"
              [disabled]="!isNewCase && tenderCase?.TenderCaseStatusId !== tenderCaseStatus.draft"
              editorType="dxSelectBox"
              [editorOptions]="{ dataSource: channel, displayExpr:'Name', valueExpr:'Id' }"
              dataField="SalesChannelId"></dxi-item>

    <dxi-item [disabled]="true" [label]="{text: 'Weighted average contract price (RUB)'}"
              dataField="WeightedAveConractPriceRUB"></dxi-item>
    <dxi-item [disabled]="isNewCase || tenderCase?.TenderCaseStatusId !== 10" editorType="dxCheckBox" [label]="{text: 'Discount Provided'}" dataField="DiscountProvided"></dxi-item>
    <dxi-item type="boolean" [disabled]="true" [label]="{text: 'Repetition Test'}" dataField="DupStatus"></dxi-item>
    <dxi-item type="boolean" [disabled]="true" [label]="{text: 'Commercial Policy Test'}" dataField="CPStatus"></dxi-item>
  </dx-form>
</div>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="showLoadPanel"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>

<app-case-buttons
  [tenderCase]="isNewCase || tenderCase"
  [tabIndex]="0"
  (saveCase)="save($event)">
</app-case-buttons>

<dx-popup
  class="popup"
  [width]="450"
  [height]="250"
  [showTitle]="true"
  title="Please, choose a reason for creating"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="showPopup">

  <dx-select-box
    displayExpr="Name"
    placeholder="Choose related case comment"
    [dataSource]="relatedCaseComment"
    (onSelectionChanged)="onChangeCaseComment($event)"
  ></dx-select-box>

  <div class="dx-popup-footer">
    <dx-button
      text="OK"
      type="success"
      [disabled]="!selectedCaseComment"
      (click)="onClosePopup(true)"
    ></dx-button>

    <dx-button text="cancel" type="danger" (click)="onClosePopup(false)"></dx-button>
  </div>

</dx-popup>

<dx-popup
  class="popup"
  title="Please, Select fields to copy"
  [maxHeight]="710"
  [width]="450"
  [showTitle]="true"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="copyPopup">

  <dx-scroll-view>
    <div class="dx-fieldset copy-fieldset">
      <div class="dx-field copy-field">
        <div class="dx-field-label">Discount SAP number</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseFields.DiscountNumber"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Quantity</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.Quantity"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Additional On-Invoice Discount (%)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.AddOnInvoiceDiscount"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Additional Off-Invoice Discount (%)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.AddOffInvoiceDiscount"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Demanded shelf life as per contract (months)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.DemandedShelfLife"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Shelf Life (%)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.ShelfLifePercent"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Shelf Life (amount of months)</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.ShelfLifeMonth"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Commertial policy name</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.CPCode"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">BU</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.ProductStructureId"></dx-check-box>
        </div>
      </div>
      <div class="dx-field copy-field">
        <div class="dx-field-label">Franchise</div>
        <div class="dx-field-value">
          <dx-check-box [(value)]="caseSkuFields.ProductStructureId"></dx-check-box>
        </div>
      </div>
    </div>

    <div class="dx-popup-footer">
      <dx-button
        text="OK"
        type="success"
        (click)="onCloseSavePopup(true)">
      </dx-button>

      <dx-button
        text="cancel"
        type="danger"
        (click)="onCloseSavePopup(false)">
      </dx-button>
    </div>
  </dx-scroll-view>

</dx-popup>
