<div class="content-block">
  <div class="dx-card">
    <h4 class="title">Shipment Plan (Graphic)</h4>
    <div class="select-box">
      <div class="dx-field operator">
        <div class="dx-field-label">TAM</div>
        <div class="dx-field-value">
          <dx-select-box [items]="operators$ | async"
                         valueExpr="Id"
                         displayExpr="Name"
                         value="total"
                         placeholder="Выбрать TAM"
                         (onValueChanged)="onChangeOperator($event)">
          </dx-select-box>
        </div>
      </div>

      <div class="dx-field ">
        <div class="dx-field-label">Мера отображения данных</div>
        <div class="dx-field-value">
          <dx-select-box [items]="graphicOptions"
                         displayExpr="Value"
                         [value]="graphicOptions[0]"
                         (onValueChanged)="onChangeOption($event)">
          </dx-select-box>
        </div>
      </div>
    </div>
    <dx-chart
      [dataSource]="tenderSkuPlan"
      [loadingIndicator]="true">

      <dxo-tooltip [enabled]="true"></dxo-tooltip>

      <ng-container *ngIf="graphicOption.Id === 0">
        <dxi-series valueField="Planned" name="Planned"></dxi-series>
        <dxi-series valueField="Announced" name="Announced"></dxi-series>
        <dxi-series valueField="Alive" name="Alive"></dxi-series>
        <dxi-series valueField="Actual" name="Actual"></dxi-series>
      </ng-container>

      <ng-container *ngIf="graphicOption.Id === 1">
        <dxi-series valueField="PlannedUSD" name="Planned (USD)"></dxi-series>
        <dxi-series valueField="AnnouncedUSD" name="Announced (USD)"></dxi-series>
        <dxi-series valueField="AliveUSD" name="Alive (USD)"></dxi-series>
        <dxi-series valueField="ActualUSD" name="Actual (USD)"></dxi-series>
      </ng-container>

      <dxo-common-series-settings argumentField="PeriodDate" type="line">
        <dxo-aggregation [enabled]="true" method="sum"></dxo-aggregation>
        <dxo-fullstackedbar>
          <dxo-aggregation [enabled]="true"></dxo-aggregation>
        </dxo-fullstackedbar>
      </dxo-common-series-settings>

      <dxo-argument-axis discreteAxisDivisionMode="crossLabels"
                         aggregationGroupWidth="200"
                         aggregationInterval="month">
        <dxo-label overlappingBehavior="rotate"
                   [customizeText]="customizeDateText">
        </dxo-label>
        <dxo-tick-interval [months]="1"></dxo-tick-interval>
        <dxo-grid [visible]="false"></dxo-grid>
      </dxo-argument-axis>

      <dxi-value-axis>
        <dxo-grid [visible]="true"></dxo-grid>
        <dxo-label [customizeText]="customizeText"></dxo-label>
      </dxi-value-axis>

      <dxo-legend
        verticalAlignment="center"
        horizontalAlignment="right"
        itemTextPosition="right">
      </dxo-legend>

      <dxo-margin [bottom]="20"></dxo-margin>
    </dx-chart>
  </div>
</div>
