<!-- <h2 class="content-block">Cases</h2> -->
<div class="content-block">
  <div class="dx-card">
    <h4 class="m-0">Cases</h4>
    <dx-data-grid
      id="gridContainer"
      class="mb-3"
      [dataSource]="dataSource"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [selectedRowKeys]="[]"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      (onRowDblClick)="onRowDblClick($event)"
      (onContentReady)="onContentReady()"
      (onToolbarPreparing)="onToolbarPreparing($event)"
      (onSelectionChanged)="onSelectionChanged($event)">
      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
      <!-- [allowUpdating]="true"
      [allowDeleting]="true" -->
      <dxo-editing
      mode="row"
      [allowDeleting]="true">
      </dxo-editing>
      <dxo-export [enabled]="true" fileName="Tenders" [allowExportSelectedData]="true"></dxo-export>
      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter
        [visible]="showHeaderFilter"></dxo-header-filter>
      <dxo-search-panel
        [visible]="true"
        placeholder="Search..."></dxo-search-panel>
      <dxi-column
        dataField="Id"

        caption="Case ID">
      </dxi-column>
      <dxi-column
        dataField="ParentId"
        alignment="center"

        caption="Parent ID">
      </dxi-column>
      <dxi-column
        dataField="ChildId"
        alignment="center"

        caption="Child ID">
      </dxi-column>
      <dxi-column
        dataField="RegionName"

        alignment="center"
        caption="Region">
      </dxi-column>
      <dxi-column
        dataField="RegionName"

        alignment="center"
        caption="Client name">
      </dxi-column>
      <dxi-column
        dataField="CreatedBy"

        alignment="center"
        caption="TAM">
      </dxi-column>
      <dxi-column
        dataField="DiscountNumber"

        alignment="center"
        caption="Discount SAP number">
      </dxi-column>
      <dxi-column
        dataField="DiscountValidityDate"

        alignment="center"
        caption="Discount Validity Date">
      </dxi-column>
      <dxi-column
        dataField="OwnerName"

        alignment="center"
        caption="Approver">
      </dxi-column>
      <!-- <dxi-column
          dataField="OwnerName"

          alignment="center"
          caption="Approver">
      </dxi-column>
      <dxi-column
          dataField="AddOffInvoiceDiscount"

          alignment="center"
          caption="Additional Off-Invoice Discount (%)">
      </dxi-column>
      <dxi-column
          dataField="PriceOnInvoiceRUB"

          alignment="center"
          caption="Price On-Invoice (руб)">
      </dxi-column>
      <dxi-column
          dataField="TotalAddOffInvDiscRUB"

          alignment="center"
          caption="Total Additional Off-Invoice Discount (RUB)">
      </dxi-column>
      <dxi-column
          dataField="TotalPriceOnInvDiscRUB"

          alignment="center"
          caption="Total Additional On-Invoice Discount (RUB)">
      </dxi-column>
      <dxi-column
          dataField="TotalDiscount"

          alignment="center"
          caption="Total Discount (%)">
      </dxi-column>
      <dxi-column
          dataField="FinalPriceWAllDiscRUB"

          alignment="center"
          caption="Final Price w all discounts anticipated (RUB) ">
      </dxi-column>
      <dxi-column
          dataField="NetSalesRUB"

          alignment="center"
          caption="Net Sales (RUB) ">
      </dxi-column>
      <dxi-column
          dataField="NetSalesUSD"

          alignment="center"
          caption="Net Sales (USD)">
      </dxi-column>
      <dxi-column
          dataField="TenderMarginality"

          alignment="center"
          caption="Tender marginality (%)">
      </dxi-column>
      <dxi-column
          dataField="TotalShippedPacks"

          alignment="center"
          caption="Case, Total shipped (packs)">
      </dxi-column>
      <dxi-column
          dataField="TotalShippedUSD"

          alignment="center"
          caption="Case, Total shipped (USD)">
      </dxi-column>
      <dxi-column
          dataField="TotalToShipPacks"

          alignment="center"
          caption="Case, total have to ship (packs)">
      </dxi-column>
      <dxi-column
          dataField="TotalToShipUSD"

          alignment="center"
          caption="Case, total have to ship (USD)">
      </dxi-column>
      <dxi-column
          dataField="DiscountProvided"

          alignment="center"
          caption="Discount Provided">
      </dxi-column> -->
    </dx-data-grid>
    <!-- </div>

    <div class="dx-card responsive-paddings mt-4"> -->
    <!-- <h5 class="m-0">Details of selected tender</h5>   -->
    <dx-data-grid
      id="gridContainer"
      [dataSource]="dataSourceSKU"
      [columnAutoWidth]="true"
      [showBorders]="true"
      (onContentReady)="initialized()">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter
        [visible]="showHeaderFilter"></dxo-header-filter>
      <!-- <dxo-search-panel
          [visible]="true"

          placeholder="Search..."></dxo-search-panel> -->
      <dxi-column
        dataField="Id"
        caption="Case ID"

        alignment="center">
        <dxo-header-filter
          [groupInterval]="10000"></dxo-header-filter>
      </dxi-column>
      <dxi-column
        dataField="brandName"
        caption="Brand"

        alignment="center">
        <dxo-header-filter
          [dataSource]="orderHeaderFilter"></dxo-header-filter>
      </dxi-column>
      <dxi-column
        dataField="SKUNameEng"
        caption="SKU Name Eng"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="SKUCode"
        caption="SKU mars"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="OnInvoiceDiscount"
        caption="On-Invoice Discount (base) (%)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="AddOnInvoiceDiscount"
        caption="Additional On-Invoice Discount (%)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="AddOffInvoiceDiscount"
        caption="Additional Off-Invoice Discount (%)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="Quantity"
        caption="Quantity"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="ContracPriceRUB"
        caption="Contract price (RUB) per pack"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="PriceRUB"
        caption="Price (price list, RUB)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="PriceOnInvoiceRUB"
        caption="Price On-Invoice (руб)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="TotalDiscount"
        caption="Total Discount (%)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="FinalPriceWAllDiscRUB "
        caption="Final Price w all discounts anticipated (RUB)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="NetSalesRUB "
        caption="Net Sales (RUB)"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="CPStatus"
        caption="Commertial policy test"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="DupStatus"
        caption="Repetition test on cases"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="CreatedOn"
        caption="Create date"

        alignment="center"
      ></dxi-column>
    </dx-data-grid>
  </div>

</div>
