<!-- <h2 class="content-block">Cases</h2> -->
<div class="content-block">
  <div class="dx-card">
    <h4 class="m-0">Cases</h4>
    <dx-data-grid
      id="gridContainer"
      class="mb-3"
      [dataSource]="dataSource"
      [showBorders]="true"
      [columnAutoWidth]="true"
      [selectedRowKeys]="[]"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      (onRowDblClick)="onRowDblClick($event)"
      (onContentReady)="onContentReady()"
      (onToolbarPreparing)="onToolbarPreparing($event)"
      (onSelectionChanged)="onSelectionChanged($event)">
      <dxo-selection mode="single"></dxo-selection>
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

      <dxo-export [enabled]="true" fileName="Tenders" [allowExportSelectedData]="true"></dxo-export>
      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter
        [visible]="showHeaderFilter"></dxo-header-filter>
      <dxo-search-panel
        [visible]="true"
        placeholder="Search..."></dxo-search-panel>
      <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="cases"></dxo-state-storing>
      <dxi-column
        dataField="Id"
        caption="Case ID">
      </dxi-column>
      <dxi-column
        dataField="ParentId"
        alignment="center"
        caption="Parent ID">
      </dxi-column>
      <dxi-column

        dataField="ChildId"
        alignment="center"

        caption="Child ID">
      </dxi-column>
      <dxi-column

        dataField="RegionName"

        alignment="center"
        caption="Region">
      </dxi-column>
      <dxi-column

        dataField="HospitalName"
        alignment="center"
        caption="Client name">
      </dxi-column>
      <dxi-column
        dataField="TAMName"
        alignment="center"
        caption="TAM">
      </dxi-column>
      <dxi-column

        dataField="DiscountNumber"

        alignment="center"
        caption="Discount SAP number">
      </dxi-column>
      <dxi-column

        dataField="DiscountValidityDate"

        alignment="center"
        caption="Discount Validity Date">
      </dxi-column>
      <dxi-column

        dataField="OwnerName"

        alignment="center"
        caption="Approver">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="TenderCaseStatusName"
        caption="Case Status">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="RelatedCaseCommentName"
        caption="Related Case Comment">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="SourceOfFinName"
        caption="Channel of Financing">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="FederalLawNumber"
        caption="Federal Law (#)">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="NotificationNumber"
        caption="Notification ID">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="SupplierName"
        caption="Supplier of the Tender">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="SalesChannelName"
        caption="Sales Channel">
      </dxi-column>
      <dxi-column
        [visible]="false"
        dataField="WeightedAveConractPriceRUB"
        caption="Weighted Average contract price (RUB)">
      </dxi-column>
      <dxi-column
        [visible]="false"
        caption="Repetition Test"
        dataField="DupStatus">
      </dxi-column>

      <dxi-column
        [visible]="false"
        caption="Commertial Policy Test"
        dataField="CPStatus">
      </dxi-column>
      <dxi-column
        caption="Discount Provided"
        dataField="DiscountProvided">
      </dxi-column>
    </dx-data-grid>

    <dx-data-grid
      id="gridContainer"
      [dataSource]="dataSourceSKU"
      [columnAutoWidth]="true"
      [showBorders]="true"
      (onContentReady)="initialized()">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
      </dxo-pager>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
      <dxo-filter-row
        [visible]="showFilterRow"
        [applyFilter]="currentFilter"></dxo-filter-row>
      <dxo-header-filter
        [visible]="showHeaderFilter"></dxo-header-filter>
      <dxo-state-storing [enabled]="true" type="sessionStorage" storageKey="casesSku"></dxo-state-storing>
      <!-- <dxo-search-panel
          [visible]="true"

          placeholder="Search..."></dxo-search-panel> -->
      <dxi-column

        dataField="Id"
        caption="Case ID"

        alignment="center">
        <dxo-header-filter
          [groupInterval]="10000"></dxo-header-filter>
      </dxi-column>
      <dxi-column

        dataField="BrandName"
        caption="Brand"

        alignment="center">
        <dxo-header-filter
          [dataSource]="orderHeaderFilter"></dxo-header-filter>
      </dxi-column>
      <dxi-column

        dataField="SKUNameEng"
        caption="SKU Name Eng"

        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="ProductId"
        caption="SKU mars"
        alignment="center"
      ></dxi-column>
      <dxi-column
        dataField="OnInvoiceDiscount"
        caption="On-Invoice Discount (base) (%)"
        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="AddOnInvoiceDiscount"
        caption="Additional On-Invoice Discount (%)"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="AddOffInvoiceDiscount"
        caption="Additional Off-Invoice Discount (%)"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="Quantity"
        caption="Quantity"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="ContractPriceRUB"
        caption="Contract price (RUB) per pack"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="PriceRUB"
        caption="Price (price list, RUB)"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="PriceOnInvoiceRUB"
        caption="Price On-Invoice (руб)"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="TotalDiscount"
        caption="Total Discount (%)"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="FinalPriceWAllDiscRUB"
        caption="Final Price w all discounts anticipated (RUB)"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="NetSalesRUB"
        caption="Net Sales (RUB)"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="CPStatus"
        caption="Commertial policy test"

        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="DupStatus"
        caption="Repetition test on cases"
        alignment="center"
      ></dxi-column>
      <dxi-column

        dataField="CreatedOn"
        caption="Create date"
        alignment="center"
      ></dxi-column>
    </dx-data-grid>
  </div>

</div>
