<div *ngIf="tender">
    <div class="content-block">
        <div class="dx-card responsive-paddings">
            <h4 class="m-0">Tender Cart</h4>
            <h6 class="m-0">Item Id: {{tender.Id}}</h6>
            <hr/>
            <!-- <p><strong>Owner name:</strong> {{tender.OwnerName}}</p>
            <p><strong>Region name:</strong> {{tender.RegionName}}</p>
            <p><strong>Hospital INN:</strong> {{tender.HospitalINN}}</p>
            <p><strong>Hospital Name:</strong> {{tender.HospitalName}}</p>
            <p><strong>Tender Status Name:</strong> {{tender.TenderStatusName}}</p>
            <p><strong>Gos Zakupki Link:</strong> {{tender.GosZakupkiLink}}</p>
            <p><strong>Winner:</strong> {{tender.Winner}}</p>
            <p><strong>Indication Name:</strong> {{tender.IndicationName}}</p>
            <p><strong>Supplier Name:</strong> {{tender.SupplierName}}</p> -->
        </div>
    </div>
</div>