<div class="content-block">
  <div class="dx-card">
    <dx-tabs
      #apiTabs
      [dataSource]="tabs"
      [selectedIndex]="tabIndex"
      (onItemClick)="selectTab($event)">
    </dx-tabs>

    <app-tender-description
      [disableCreate] = "disableCreateButton"
      *ngIf="tabIndex === 0"
      [tender]="tender | async"
      (copyTender)="copyTender($event)"
      (save)="save($event)">
    </app-tender-description>
    <app-tender-sku *ngIf="tabIndex === 1" [tender]="tender | async"></app-tender-sku>

    <app-tender-case  *ngIf="tabIndex === 2" [tender]="tender | async"></app-tender-case>

    <app-tender-shipment-plans *ngIf="tabIndex === 3"></app-tender-shipment-plans>
  </div>
</div>
