<dx-chart
  [dataSource]="countriesInfo">

  <dxi-series
    *ngFor="let energy of energySources"
    [valueField]="energy.value"
    [name]="energy.name">
  </dxi-series>

  <dxo-common-series-settings
    argumentField="date"
    type="line">
  </dxo-common-series-settings>

  <dxo-argument-axis discreteAxisDivisionMode="crossLabels">
    <dxo-grid [visible]="false"></dxo-grid>
    <dxo-label overlappingBehavior="rotate"></dxo-label>
  </dxo-argument-axis>

  <dxi-value-axis>
    <dxo-grid [visible]="true"></dxo-grid>
    <dxo-label [customizeText]="customizeText"></dxo-label>
  </dxi-value-axis>

  <dxo-legend
    verticalAlignment="center"
    horizontalAlignment="right"
    itemTextPosition="right">
  </dxo-legend>

  <dxo-margin [bottom]="20"></dxo-margin>

  <dxo-title
    text="Shipments Plan (Graphic)">
  </dxo-title>
</dx-chart>
